.product-box{
    justify-content: space-around;
    text-align: center;
    border-right: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    margin: 20px;
    min-width: 320px;
    flex: auto;
}

a{
    text-decoration: none;
    color: darkgray;
}

img {
    width: 350px;
    min-width: 320px;
    aspect-ratio: 1.67 / 1;
    position: relative;
    left: -10px;
}

.col-md-3 {
    width: 25%;
    min-width: 300px;
    padding: 0px 5px;
}

.price {
    text-align: center;
    color: gray;
    font-size: x-large;
}

h1:hover {
    font-weight: bold;
    color: black;
}

h2 {
    margin-bottom: 10px;
}