.price::after {
    content: ".000 Ft";
}

*{
    text-align: center;
}

.price {
    font-size: xx-large;
}

h1,h2,.price,span,a {
    width: 60%;
    margin-top: 1rem;
}

a{
    text-decoration: none;
    color: darkgray;
}

.mydiv {
    justify-content: center;
    margin: auto;
}

span{
    text-align: left;
    border-left: solid 2px darkgray;
    margin-bottom: 20px;
}

img{
    min-width: 400px;
    aspect-ratio: 1.67 / 1;
    width: 50%;
}

.mydiv{
    border-top: solid 2px black;
}

.primary-btn {
    display: inline-flex;
    justify-content: center;
    color: black;
    margin: 10px;
    text-decoration:none;
    font-size: x-large;
    border: none;
    background-color: white;
    width: 40%;
}

.primary-btn:hover {
    font-weight: bold;
}

mat-form-field {
    margin-top: 10px;
    min-width: 200px;
}