<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/products" class="d-flex align-items-center pt-3 pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">
            <h2 class="content span">Shoe WORLD</h2>
          </span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Kezdőlap</span>
            </a>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Márkák</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a routerLink="/category/nike" href="#" class="nav-link px-0"> - Nike</a>
              </li>
              <li class="w-100">
                <a routerLink="/category/adidas" href="#" class="nav-link px-0"> - Adidas</a>
              </li>
              <li class="w-100">
                <a routerLink="/category/new balance" href="#" class="nav-link px-0"> - New Balance</a>
              </li>
            </ul>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <nav class="navbar bg-body-tertiary mb-5">
        <div class="container-fluid">
          <a class="navbar-brand">
          </a>
          <app-search></app-search>
          <a href="#" class="d-flex align-items-center text-black text-decoration-none" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <app-cart-status></app-cart-status>
            &nbsp;
          </a>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<footer class=" py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Shoe WORLD</small>
  </div>
</footer>